.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header.css */

.header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img{
  height: 65px;
  width: 65px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  padding: 5px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Footer.css */

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-info{
  text-decoration: none;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card p {
  margin: 5px 0;
}

.product_img{
  height: 250px;

}

.carousel-item{
  margin: 20px;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

input[type="text"] {
  padding: 10px; 
  font-size: 16px; 
  width: 300px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

button {
  padding: 10px 15px; 
  font-size: 16px; 
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  margin-left: 10px; 
}


button:hover {
  background-color: #0056b3;
}


.navbar li {
  margin: 0;
  padding: 0;
}

/* Add hover effect to icons */
.icon:hover {
  cursor: pointer;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Remove link underline style */
.navbar a:hover{
  text-decoration: none;
  color: #fff; 
  transition: color 0.3s ease; 
}

.product-card-link{
  text-decoration: none;
}

/* App.css */
/* ... your existing styles ... */

/* Make App header responsive */
@media (max-width: 768px) {
  .App-header {
    min-height: 50vh;
  }
}

/* Header.css */
/* ... your existing styles ... */

/* Make Navbar responsive */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .navbar li {
    padding: 0;
    margin: 0;
  }
}

/* Footer.css */

/* Grid responsive */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

/*  Product Card responsive */
@media (max-width: 667px) {
  .product-card {
    padding: 10px;
  }
}

/*  Search Bar responsive */
@media (max-width: 667px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    width: 60%;
    margin-bottom: 10px;
  }

  button {
    margin-left: 0;
  }
}
